# Ignore everything by default
*

# Allow directories to be traversed
!*/

# Explicitly allow specific files
!.gitignore
!init.el
!config.org
!config-utils/**
!fonts/**
!minor-modes/**
!ob-racket/**
!README.org